
@import "./lib/bootstrap-reboot.min";
@import "./lib/font";
@import "./lib/slick";
@import "./lib/animate";

@import "./base/variables";
@import "./base/media";
@import "./base/animations";

@import "./blocks/promo";
@import "./blocks/header";
@import "./blocks/buttons";
@import "./blocks/advantages";
@import "./blocks/consultation";
@import "./blocks/forms";
@import "./blocks/carousel";
@import "./blocks/catalogs";
@import "./blocks/reviews";
@import "./blocks/footer";
@import "./blocks/modal";
@import "./blocks/pageup";

*{
    font-family: 'Museo Sans Cyrl' sans-serif;
    font-display: swap;
}


.container {
    max-width: 950px;
    margin: 0 auto;
}